<%- include('partials/header'); %>

<h1>クイズページ</h1>
<div class="container">
  <p id="question"></p>
  <p id="result"></p>
  <ul id="answers"></ul>
  <button id="restart-button">Restart</button>
</div>

<a href="/">トップページへ</a>

<script src="js/main.js"></script>

<% include('partials/footer'); %>
